fastapi
uvicorn
python-socketio
edge-tts
pydub
python-multipart
SpeechRecognition
aiosqlite
python-dotenv
openai
jinja2
sqlalchemy
passlib[bcrypt]
email-validator
python-jose[cryptography]
psycopg2
asyncpg
boto3